/* LANDING PAGE */
.main-header-title {
    text-align: center;
}

.landing-page {
    display: flex;
    justify-content: center;
}

.planets {
    width: 30%;
    padding: 1rem;
}

.planets header {
    text-align: center;
    margin-bottom: 1rem;
}

.planets header span {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
}

section.planet {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: lightblue;
    font-size: 1.5rem;
    cursor: pointer;
}

section.planet:hover {
    background-color: #eee;
}

section.planet a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}

.landing-page .galaxy-container {
    width: 70%;
    max-width: 600px;
    padding: 1rem;
}

/* DETAILS PAGE */
.detail-content {
    display: flex;
    justify-content: center;
}

.planet-details-list {
    width: 40%;
    padding: 1rem;
}

.planet-details-list ul {
    background-color: lightblue;
    margin: 0;
    padding: 1rem;
    padding-left: 1.5rem;
}

.planet-details-list ul li {
    line-height: 25px;
    font-size: 0.85rem;
}

.planet-details-list ul li span {
    font-weight: 600;
    font-size: 1rem;
}

.detail-content .galaxy-container {
    width: 60%;
    padding: 1rem;
}

.planet-details-page header {
    text-align: center;
    margin-bottom: 2rem;
}

.planet-details-page header span {
    font-size: 2.5rem;
    background-color: lightblue;
    padding: 1rem 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    border: 1px solid #eee;
}

.buynow-button {
    text-align: center;
    margin: 1rem 0;
}

.buynow-button a {
    text-decoration: none;
    color: #fff;
    background-color: orangered;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

.buynow-button a:hover {
    background-color: forestgreen;
}

/* BUYNOW PAGE */
.form-container {
    max-width: 600px;
    margin: 5rem auto;
}

.form-container h2 {
    text-align: center;
}

.form-container form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px solid;
    width: auto;
    border-radius: 5px;
}

.form-container form label {
    text-align: center;
    margin-bottom: 1rem;
    width: 50%;
}

.form-container form label span {
    font-weight: 600;
}

.form-container form label input,
.form-container form label select,
.form-container form label textarea {
    display: block;
    margin: 0.5rem auto;
    width: 75%;
}

.form-container form label.message-label {
    width: 100%;
}

.form-container form label.message-label textarea {
    height: 5rem;
}

.submit-container {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.submit-container input {
    padding: 0.5rem 2rem;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: orangered;
    border-radius: 5px;
    color: #fff;
    border: 1px solid;
}

.submit-container input:hover {
    background-color: forestgreen;
}

.confirmation-section p {
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
}

.confirmation-section > div {
    display: flex;
    justify-content: center;
}

.confirmation-section table {
    border: 1px solid #B5B7BA;
    padding: 0.5rem;
    width: 50%;
    border-radius: 5px;
    min-width: 350px;
}

.confirmation-section table thead {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #B5B7BA;
    padding-bottom: 0.5rem;
}

.confirmation-section table thead td {
    width: 100%;
    font-weight: 700;
    font-size: 1.25rem;
}

.confirmation-section table tbody tr {
    display: flex;
}

.confirmation-section table tbody td {
    padding: 0.5rem;
}

.confirmation-section table tbody td:first-child {
    width: 35%;
    font-weight: 600;
}

.confirmation-section table tbody td:last-child {
    width: 65%;
}